body {
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #6b46c1 0%, #74a8c3 100%);
}
* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
